* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  text-transform: lowercase;
}

.Home {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.2fr 1fr;
  grid-gap: 5px;

  height: 100vh;
  margin: 0;
  background-color: cornflowerblue;
}

.Home header {
  grid-column: span 2;
}

.Home h1 {
  margin: 0.25em;
  text-align: center;
  font-size: 3.5em;
}

.Home aside {
  background-color: whitesmoke;
}

.Home main {
  background-color: yellowgreen;
  padding-top: 1.5em;
}

.Title {
  background-color: antiquewhite;
  width: 65vw;
  margin: auto;
  padding-bottom: 0.05%;
  border-radius: 50px;
}

.Search input {
  display: block;
  border: none;
  float: left;
  margin-left: 0.75em;
  width: 19.75vw;
  font-size: 1.75em;
  color: whitesmoke;
  font-weight: bold;
  text-transform: lowercase;
  background-color: transparent;
}

.Search ::placeholder {
  color: whitesmoke;
}

.Search h1 {
  font-size: 3em;
}

.Side h1 {
  font-size: 2.5em;
}

.Posts h1 {
  text-align: center;
  font-size: 3em;
}

.Posts article {
  width: 65vw;
  margin: auto;
  background-color: orange;
}

#User {
  font-family: Helvetica;
  font-size: 2em;
  padding: 0.5em;
}

.New-Post {
  margin-top: 5%;
}

.New-Post article {
  text-align: center;
  height: 70vh;
}

.New-Post textarea,
input {
  width: 80%;
  margin: auto;
  border: none;
  padding: 0.25em;
}

.New-Post input {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid goldenrod;
}

.New-Post textarea {
  font-size: 1.25em;
}

#Save {
  width: 30%;
  margin: 0.5em;
  padding: 0.25em;
  border: none;
  background-color: whitesmoke;
  font-size: 1.5em;
}

.Edit {
  background-color: cornflowerblue;
}
