* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  text-transform: lowercase;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-gap: 10px;

  height: 100vh;
  margin: 0;
}

.App header {
  grid-column: span 2;
  background-image: url('https://imgur.com/mTlkbMv.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 100%;
}

.Header h1 {
  text-align: right;
  font-size: 3.5em;
  color: rgba(248, 196, 23, 0.5);
}

.Home {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
}

.Edit {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.Home aside {
  background: linear-gradient(rgb(233, 240, 250), white);
  margin-top: 0.5em;
  border-radius: 20px;
  text-align: center;
}

.Home main {
  width: 60vw;
  margin: auto;
  padding-top: 0.5em;
  border-radius: 20px;
}

.Side h1 {
  font-size: 2.5em;
}

.Search input {
  font-size: 1em;
}

.Links {
  font-size: 1.5em;
}

.Posts {
  margin-bottom: 2em;
}

.Posts h3 {
  font-size: 2em;
  margin-bottom: 0;
}

.Posts header {
  background-color: #fde6ee;
  background-image: none;
  padding: 0.5em;
}

.Posts article {
  width: 55vw;
  margin-top: 0.5em;
  margin-left: 4em;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.Posts a {
  font-size: 1.35em;
  text-decoration: none;
}

.Posts button {
  font-size: 1.25em;
  float: right;
  border: none;
  background-color: transparent;
}

#User {
  font-family: Helvetica;
  font-size: 2em;
  padding: 0.5em;
  margin-bottom: 0;
  color: black;
}

.New-Post {
  margin-top: 5%;
}

.New-Post article {
  text-align: center;
  height: 70vh;
}

.New-Post textarea,
input {
  width: 80%;
  margin: auto;
  border: none;
  padding: 0.25em;
  background-color: white;
}

.New-Post input {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid goldenrod;
  background-color: whitesmoke;
}

.New-Post textarea {
  font-size: 1.25em;
  background-color: whitesmoke;
}

#Create {
  width: 30%;
  margin: 0.5em;
  padding: 0.25em;
  border: none;
  background-color: whitesmoke;
  font-size: 1.5em;
}

.Edit aside {
  background: linear-gradient(rgb(233, 240, 250), white);
  margin-top: 0.5em;
  border-radius: 20px;
  text-align: center;
}

.Edit input {
  display: block;
  width: 80%;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid goldenrod;
  background-color: whitesmoke;
}

.Edit textarea {
  width: 80%;
  font-size: 1.25em;
  background-color: whitesmoke;
}

.Edit button {
  display: block;
  margin: auto;
}

#Save {
  width: 30%;
  margin: auto;
  padding: 0.25em;
  border: none;
  background-color: whitesmoke;
  font-size: 1.5em;
}
